doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content="Prello")
    meta(name="keywords" content="Prello")
    meta(name="author" content="Dmitriy Belkin")
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    
    link(rel="stylesheet" href="css/main.css")
    title Prello
    
  body
    #container

    script(src="js/main.min.js")

