.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: lavender;
    .person {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .avatar {
            height: 70px;
            width: 70px;
            margin-right: 20px;
            border-radius: 50%;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVdeWQxpUyMoGkXCIieOqUsbWJ96uPMr4TTFPoCV7H9Kgta270');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .links {
        span {
            color: $color-secondary;
            padding: 0 10px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
                color: darken($color-secondary, 10%);
            }
        }
    }
}