@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-thin.eot");
  src: url("../fonts/raleway-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-thin.woff") format("woff"), url("../fonts/raleway-thin.ttf") format("truetype"), url("../fonts/raleway-thin.svg#ralewaythin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-extralight.eot");
  src: url("../fonts/raleway-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extralight.woff") format("woff"), url("../fonts/raleway-extralight.ttf") format("truetype"), url("../fonts/raleway-extralight.svg#ralewayextralight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-light.eot");
  src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light.woff") format("woff"), url("../fonts/raleway-light.ttf") format("truetype"), url("../fonts/raleway-light.svg#ralewaylight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.svg#ralewayregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-medium.eot");
  src: url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype"), url("../fonts/raleway-medium.svg#ralewaymedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.svg#ralewaysemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.svg#ralewaybold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-extrabold.eot");
  src: url("../fonts/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("truetype"), url("../fonts/raleway-extrabold.svg#ralewayextrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Webfont";
  src: url("../fonts/raleway-heavy.eot");
  src: url("../fonts/raleway-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-heavy.woff") format("woff"), url("font/raleway-heavy.ttf") format("truetype"), url("../fonts/raleway-heavy.svg#ralewayheavy") format("svg");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Raleway Webfont", sans-serif;
  font-size: 1rem;
  line-height: normal;
  color: #212121;
  background-color: #23719F;
  max-width: 1920px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  color: #25b99a;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration: none;
}

.noFill {
  fill: none;
}

.getItem {
  min-height: 500px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  background-color: lavender;
}

.header .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .person .avatar {
  height: 70px;
  width: 70px;
  margin-right: 20px;
  border-radius: 50%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVdeWQxpUyMoGkXCIieOqUsbWJ96uPMr4TTFPoCV7H9Kgta270");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .links span {
  color: #25b99a;
  padding: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.header .links span:hover {
  text-decoration: underline;
  color: #1d8f77;
}

main {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

main section {
  min-height: 400px;
  background-color: #E3E3E3;
  border-radius: 6px;
  margin: 5px 15px;
  -ms-flex-preferred-size: 338px;
  flex-basis: 338px;
}

main section header {
  position: relative;
  border-radius: 6px;
  min-height: 80px;
  background: #25b99a;
  -webkit-box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

main section header .add {
  fill: #25b99a;
}

main section header input {
  width: 80%;
  height: 50px;
  display: inline-block;
  margin-left: 10px;
  padding: 0 40px 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

main section header input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main section header input::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main section header input:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main section header input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main section header input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main section header input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main section header input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main section header input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main section header button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 3px;
  z-index: 2;
  border-radius: 25px;
  background: #fff;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

main section header button svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

main section header button svg .fill {
  fill: #25b99a;
}

main section ul {
  padding: 10px;
  max-width: 100%;
}

main section ul li {
  border-radius: 3px;
  margin-top: 5px;
  cursor: move;
  -webkit-box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  padding: 6px 8px;
  cursor: move;
}

main section ul li img {
  cursor: pointer;
}

main section ul li input {
  border-radius: 3px;
}

main .new-section {
  border: none;
  border: 3px dashed #212121;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .new-section span {
  color: #25b99a;
  opacity: .5;
  font-size: 130px;
  cursor: pointer;
  line-height: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .new-section span:hover {
  opacity: .8;
}

ul.todo li {
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

ul.todo li:last-of-type {
  margin: 0;
}

ul.todo li .buttons {
  height: 50px;
  position: absolute;
  top: 0;
  right: 5px;
}

ul.todo li .buttons button {
  width: 30px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;
  position: absolute;
  top: 10px;
  left: 0;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
  border: 1px solid #25b99a;
  border-radius: 50%;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
  background: #25b99a;
  border: 0px;
}

ul.todo#todo li .buttons button.complete svg rect {
  fill: #fff;
}

ul.todo#completed li .buttons button.complete svg rect {
  fill: #25b99a;
}

ul.todo#completed li .buttons button.complete:hover svg rect {
  fill: #3ad8b6;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: rgba(37, 185, 154, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #3ad8b6;
}

ul.todo#completed li .buttons button.complete svg .fill {
  fill: #fff;
}

ul.todo li .buttons button svg .fill {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
  fill: #25b99a;
}

ul.todo#completed {
  position: relative;
  padding: 10px;
}

ul.todo#todo:empty:after {
  content: 'You have nothing to-do!';
  margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
  content: 'You have yet to complete any tasks.';
  margin: 15px 0 0 0;
}

ul.todo#todo:after, ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

footer {
  background: lightsalmon;
  font-size: 3rem;
}

.xxx {
  background: palevioletred;
  min-height: 200px;
}
